<template>
    <div class="container">
        <div data-v-6063fd38="" class="page-content" style="min-height: 286px;">
            <h2 data-v-6063fd38="" id="page-title" class="page-title">Frequently Asked Questions</h2>
            <h3 data-v-6063fd38="" class="page-subtitle">Intro</h3>
            <ul data-v-6063fd38="" class="qa-list">
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">What is JournalFlow?</div>
                    <div data-v-6063fd38="" class="answer">JournalFlow is a platform that allows users to write journals
                        from their favorite messaging apps, such as Telegram, Facebook Messenger or email.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">What is a channel in JournalFlow?</div>
                    <div data-v-6063fd38="" class="answer">A channel is a connection between JournalFlow and messaging
                        apps.
                    </div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">What are the channels that JournalFlow supports?</div>
                    <div data-v-6063fd38="" class="answer">JournalFlow supports Telegram, Facebook Messenger and email
                        currently.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">What is a moment in JournalFlow?</div>
                    <div data-v-6063fd38="" class="answer">A moment is a journal entry.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">What are the journal types that JournalFlow supports?</div>
                    <div data-v-6063fd38="" class="answer">We currently support text, image, location (exclude email
                        channel), and mood. More support is coming soon.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">What is the mood in JournalFlow?</div>
                    <div data-v-6063fd38="" class="answer">The mood is represented by a single emoji. The <strong
                            data-v-6063fd38="">last emoji</strong> in a message will be saved as your mood. You can
                        check
                        your mood calendar on the <a data-v-6063fd38="" href="https://app.journalflow.com/mood/">mood
                            page</a>.</div>
                </li>
            </ul>
            <h3 data-v-6063fd38="" class="page-subtitle">Usage</h3>
            <ul data-v-6063fd38="" class="qa-list">
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">What if I forgot to write the journal days ago?</div>
                    <div data-v-6063fd38="" class="answer">Don't worry, you can create journals on different days on <a
                            data-v-6063fd38="" href="/" class="nuxt-link-active">journalflow.com</a>.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">Does JournalFlow support Whatsapp / Line / Viber, etc.?
                    </div>
                    <div data-v-6063fd38="" class="answer">Not yet. You can <a data-v-6063fd38=""
                            href="https://forms.gle/7LMMEWL5t4YVeTmMA" target="_blank">subscribe to our newsletter</a>
                        or <a data-v-6063fd38="" href="https://twitter.com/journalflow" target="_blank">follow us on
                            Twitter</a> for product updates.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">How to turn off the journal reminder?</div>
                    <div data-v-6063fd38="" class="answer">You can do it on the <a data-v-6063fd38=""
                            href="https://app.journalflow.com/settings/">settings page</a>.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">Why doesn't the reminder work?</div>
                    <div data-v-6063fd38="" class="answer">Due to user experience concern and some technical limit by
                        messaging apps, the reminder will be inactive if you stop writing journals for several
                        continuous
                        days. To reactivate the reminder, just write a new journal through the channel you use.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">Where to find the bot address?</div>
                    <div data-v-6063fd38="" class="answer">You can find it on your <a data-v-6063fd38=""
                            href="https://app.journalflow.com/account/">account page</a>.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">Can I use multiple channels at the same time?</div>
                    <div data-v-6063fd38="" class="answer">Currently, you can only use the channel that you logged in
                        with.
                    </div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">Can I export my journal?</div>
                    <div data-v-6063fd38="" class="answer">Of course. Check out <a data-v-6063fd38=""
                            href="https://www.journalflow.com/blog/export-journal/">this blog post</a> to find out how.
                    </div>
                </li>
            </ul>
            <h3 data-v-6063fd38="" class="page-subtitle">Privacy &amp; Security</h3>
            <ul data-v-6063fd38="" class="qa-list">
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">Can I share my journal?</div>
                    <div data-v-6063fd38="" class="answer">Yes and no. We don’t offer a shareable link of a journal for
                        privacy concerns, but we will offer a simple tool for generating an image card from your
                        journal, so
                        you can decide the way you share.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">How secure is JournalFlow?</div>
                    <div data-v-6063fd38="" class="answer">We take the security of your data very seriously. Check <a
                            data-v-6063fd38="" href="/security/" class="">security page</a> for more details.</div>
                </li>
            </ul>
            <h3 data-v-6063fd38="" class="page-subtitle">Pricing</h3>
            <ul data-v-6063fd38="" class="qa-list">
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">Can I try JournalFlow for free?</div>
                    <div data-v-6063fd38="" class="answer">Yes. We offer a 30-day free trial for every user. <a
                            data-v-6063fd38="" href="https://app.journalflow.com/start/">Start here</a>.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">How much does JournalFlow cost?</div>
                    <div data-v-6063fd38="" class="answer">Check our <a data-v-6063fd38="" href="/pricing/"
                            class="">pricing
                            page</a>.</div>
                </li>
                <li data-v-6063fd38="" class="item">
                    <div data-v-6063fd38="" class="question">What will happen if I cancel my subscription?</div>
                    <div data-v-6063fd38="" class="answer">Your data is yours. Even if you cancel your subscription and
                        your
                        account is read-only, you can still sign in to journalflow.com to view and manage your existing
                        journal.</div>
                </li>
            </ul>
            <h3 data-v-6063fd38="" class="page-subtitle">Contact</h3>
            <p data-v-6063fd38="">Check <a data-v-6063fd38="" href="/contact/" class="">contact page</a>.</p>
        </div>
    </div>
    </template>
    <style>
                h2 {
            color: #484848;
            font-weight: 700;
            font-size: 32px;
        }

        h3 {
            color: #484848;
            font-weight: 700;
            font-size: 24px;
        }

        .question {
            color: #333333;
            font-weight: 700;
            font-size: 16px;
        }

        .answer {
            color: #666666;
            font-weight: 400;
            font-size: 16px;
        }

        a {
            text-decoration: none;
        }
    </style>
    <script>
    
    export default{
        
    }
    
    </script> 